.wrapper {
  margin: 0 auto;
  padding:0;
  width: 80vw;
  height: 500px;
  position: relative;
}
.tag-cloud {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 60px;
}
.tag-cloud a {
    display: block;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 0 22px;
    width: 120px;
    border-bottom: 0;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.6);
}

.tag-cloud a:hover {
    animation: scaleTagCloud 2s infinite;
    /*轮流反向播放动画。*/
    animation-direction: alternate;
    /*动画的速度曲线*/
    animation-timing-function: ease-in-out;
}

@keyframes scaleTagCloud
{
    0%{
    transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.2); /*放大1.2倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2);
    }

}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    0%{
    transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.2); /*放大1.2倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.2);
    }
}

.tag-cloud a.box0{
    height: 90px;
    line-height: 90px;
    font-size: 22px;
}
.tag-cloud a.box1{
    height: 80px;
    line-height: 80px;
    font-size: 20px;
}
.tag-cloud a.box2{
    height: 70px;
    line-height: 70px;
    font-size: 18px;
}
.tag-cloud a.box3{
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}
.tag-cloud a.box4{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.tag-cloud a.box5{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.color6{
    background: -moz-linear-gradient(45deg, #f43f3b, #ec008c);
    background: -webkit-linear-gradient(45deg, #f43f3b, #ec008c);
    background: -o-linear-gradient(45deg, #f43f3b, #ec008c);
    background: -ms-linear-gradient(45deg, #f43f3b, #ec008c);
    background: linear-gradient(45deg, #f43f3b, #ec008c);
}
.color5{
    background: -moz-linear-gradient(45deg, #ff9700, #ed1c24);
    background: -webkit-linear-gradient(45deg, #ff9700, #ed1c24);
    background: -o-linear-gradient(45deg, #ff9700, #ed1c24);
    background: -ms-linear-gradient(45deg, #ff9700, #ed1c24);
    background: linear-gradient(45deg, #ff9700, #ed1c24);
}
.color4{
    background: -moz-linear-gradient(45deg, #22aa66, #8dc63f);
    background: -webkit-linear-gradient(45deg, #22aa66, #8dc63f);
    background: -o-linear-gradient(45deg, #22aa66, #8dc63f);
    background: -ms-linear-gradient(45deg, #22aa66, #8dc63f);
    background: linear-gradient(45deg, #22aa66, #8dc63f);
}
.color3{
    background: -moz-linear-gradient(45deg, #39b54a, #8dc63f);
    background: -webkit-linear-gradient(45deg, #39b54a, #8dc63f);
    background: -o-linear-gradient(45deg, #39b54a, #8dc63f);
    background: -ms-linear-gradient(45deg, #39b54a, #8dc63f);
    background: linear-gradient(45deg, #39b54a, #8dc63f);
}
.color2{
    background: -moz-linear-gradient(45deg, #9000ff, #5e00ff);
    background: -webkit-linear-gradient(45deg, #9000ff, #5e00ff);
    background: -o-linear-gradient(45deg, #9000ff, #5e00ff);
    background: -ms-linear-gradient(45deg, #9000ff, #5e00ff);
    background: linear-gradient(45deg, #9000ff, #5e00ff);
}
.color1{
    background: -moz-linear-gradient(45deg, #ec008c, #6739b6);
    background: -webkit-linear-gradient(45deg, #ec008c, #6739b6);
    background: -o-linear-gradient(45deg, #ec008c, #6739b6);
    background: -ms-linear-gradient(45deg, #ec008c, #6739b6);
    background: linear-gradient(45deg, #ec008c, #6739b6);
}
.color0{
    background: -moz-linear-gradient(45deg, #0081ff, #1cbbb4);
    background: -webkit-linear-gradient(45deg, #0081ff, #1cbbb4);
    background: -o-linear-gradient(45deg, #0081ff, #1cbbb4);
    background: -ms-linear-gradient(45deg, #0081ff, #1cbbb4);
    background: linear-gradient(45deg, #0081ff, #1cbbb4);
}

@media screen and (max-width: 736px) {
    .wrapper {
        width: 100vw;
        height: 300px;
        left: -1rem;
    }
    .tag-cloud {
        margin-top: 22px;
    }
    .tag-cloud a {
        padding: 0 6px;
    }

    .tag-cloud a.box5,
    .tag-cloud a.box4,
    .tag-cloud a.box3,
    .tag-cloud a.box2,
    .tag-cloud a.box1,
    .tag-cloud a.box0{
        height: 26px;
        line-height: 26px;
        font-size: 12px;
    }
}